<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Administrativna Nadzorna Plošča</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/Database/images/persona-logo1.png" />
    <link rel="stylesheet" href="/admin.css">
</head>
<body>
    <div class="container">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>Administrativna Nadzorna Plošča - Seznam Entitet</h2>
            <button onclick="location.href='/admin/add-entity'" class="btn orange">Dodaj Novo</button>
        </div>
        <table class="highlight">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ime</th>
                    <th>Kategorija</th>
                    <th>Negativne Značilnosti</th>
                    <th>Pozitivne Značilnosti</th>
                    <th>Uredi</th>
                    <th>Izbriši</th>
                </tr>
            </thead>
            <tbody>
                <% entities.forEach(function(entity) { %>
                    <tr>
                        <td><%= entity.idEntiteta %></td>
                        <td><%= entity.naziv %></td>
                        <td><%= entity.kategorija %></td>
                        <td><%= entity.negLastnosti %></td>
                        <td><%= entity.pozLastnosti %></td>
                        <td>
                            <button onclick="location.href='/admin/edit/<%= entity.idEntiteta %>'" class="btn orange">Uredi</button>
                        </td>
                        <td>
                            <button type="button" class="btn red" onclick="showModal('<%= entity.idEntiteta %>')">Izbriši</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <!-- Modal Structure -->
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <h4>Potrditev Izbrisa</h4>
            <p>Ali ste prepričani, da želite izbrisati to entiteto?</p>
        </div>
        <div class="modal-footer">
            <button id="cancelButton" class="btn grey">Prekliči</button>
            <form id="deleteForm" method="POST" style="display:inline;">
                <button type="submit" class="btn red">Izbriši</button>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/admin.js"></script>
</body>
</html>
