<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Uredi Entiteto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/admin-update.css">
</head>
<body>
    <div class="container">
        <h2>Uredi Entiteto</h2>
        <form action="/admin/update/<%= entity.idEntiteta %>" method="POST">
            <div class="input-field">
                <input id="naziv" type="text" name="naziv" value="<%= entity.naziv %>" required>
                <label for="naziv" class="active">Naziv</label>
            </div>
            <div class="input-field">
                <input id="kategorija" type="text" name="kategorija" value="<%= entity.kategorija %>" required>
                <label for="kategorija" class="active">Kategorija</label>
            </div>
            <div class="input-field">
                <input id="opis" type="text" name="opis" value="<%= entity.opis %>" required>
                <label for="opis" class="active">Opis</label>
            </div>
            <div class="input-field">
                <input id="negLastnosti" type="text" name="negLastnosti" value="<%= entity.negLastnosti %>" required>
                <label for="negLastnosti" class="active">Negativne Značilnosti</label>
            </div>
            <div class="input-field">
                <input id="pozLastnosti" type="text" name="pozLastnosti" value="<%= entity.pozLastnosti %>" required>
                <label for="pozLastnosti" class="active">Pozitivne Značilnosti</label>
            </div>
            <h5>Ujemanja</h5>
            <div id="ujemanjeContainer">
                <% if (entity.ujemanja) { %>
                    <% for (let ujemanje in entity.ujemanja) { %>
                        <div class="ujemanje-group">
                            <input type="hidden" name="existingUjemanjeEntity[]" value="<%= ujemanje %>">
                            <input type="text" name="ujemanjeEntity[]" value="<%= ujemanje %>" class="ujemanje-input" required>
                            <input type="number" name="ocenaUjemanja[]" value="<%= entity.ujemanja[ujemanje].ocena_ujemanja %>" class="ujemanje-input" min="0" max="10" required>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <button type="button" onclick="addUjemanje()" class="btn green">Dodaj ujemanje</button>
            <button type="submit" class="btn orange">Posodobi</button>
            <button type="button" onclick="location.href='/admin'" class="btn grey">Nazaj</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/admin.js">
        
    </script>
</body>
</html>
