<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Uredi Entiteto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
            background-color: #FFA500; /* Orange background */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            width: 80%;
            max-width: 500px;
        }
        .input-field label {
            color: #9e9e9e;
        }
        .input-field input[type="text"]:focus + label {
            color: #ff9800;
        }
        .input-field input[type="text"]:focus {
            border-bottom: 1px solid #ff9800;
            box-shadow: 0 1px 0 0 #ff9800;
        }
        button {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Uredi Entiteto %></h2>
        <form action="/admin/update/<%= entity.idEntiteta %>" method="POST">
            <div class="input-field">
                <label for="naziv">Ime</label>
                <input id="naziv" type="text" name="naziv" value="<%= entity.naziv %>" required>
            </div>
            <div class="input-field">
                <label for="kategorija">Kategorija</label>
                <input id="kategorija" type="text" name="kategorija" value="<%= entity.kategorija %>" required>
            </div>
            <div class="input-field">
                <label for="opis">Opis</label>
                <input id="opis" type="text" name="opis" value="<%= entity.opis %>" required>
            </div>
            <div class="input-field">
                <label for="negLastnosti">Negativne Značilnosti</label>
                <input id="negLastnosti" type="text" name="negLastnosti" value="<%= entity.negLastnosti %>" required>
            </div>
            <div class="input-field">
                <label for="pozLastnosti">Pozitivne Značilnosti</label>
                <input id="pozLastnosti" type="text" name="pozLastnosti" value="<%= entity.pozLastnosti %>" required>
            </div>
            <button type="submit" class="btn orange">Posodobi</button>
            <button type="button" onclick="window.location='/admin';" class="btn grey">Nazaj</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
