<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pregled Ujemanja</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/pregledUjemanja.css">
</head>
<body>
  <div class="container">
    <h1 class="title">Pregled Ujemanja</h1>
    <br><br><br>
    <div class="entity-row">
      <% kategorije.forEach(category => { %>
        <div class="entity entity-clickable" onclick="redirectToCategory('<%= category %>')">
          <div class="hover-text">Klik za pregled ocenitve vašega prijatelja</div>
          <img src="<%= entiteta1.slika %>" alt="<%= entiteta1.naziv %>">
          <h3><%= entiteta1.naziv %></h3>
        </div>
        <div class="entity">
          <img src="<%= entiteta2.slika %>" alt="<%= entiteta2.naziv %>">
          <h3><%= entiteta2.naziv %></h3>
        </div>
      <% }) %>
    </div>
    <br>
    <div class="ujemanje-score">
      Ujemanje: <div class="rating-circle"><%= ocenaUjemanja %></div>
    </div>
    <br>
    <div class="opis">
      <p><%= opis %></p>
    </div>
  </div>
  <footer>
    <div class="row">
        <div class="col footer-col-1" onclick="navigateTo('/samoocenitev');">Samoocenitev</div>
        <div class="col footer-col-2" onclick="navigateTo('/ujemanje');">Ujemanje</div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/zgodovinaUjemanja.js"></script>
  <script>
    $(document).ready(function() {
      $('.container').addClass('visible');
    });
    
    function navigateTo(url) {
      window.location.href = url;
    }

    function redirectToCategory(category) {
      window.location.href = `pregledOcenitve/${category}`;
    }
  </script>
</body>
</html>
