<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pregled ocenitve</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Material Icons -->
  <link rel="stylesheet" href="/pregledOcenitve.css">
  <link rel="shortcut icon" type="image/x-icon" href="/Database/images/persona-logo1.png" />
</head>

<body class="body-slide-in">

  <div class="container text-center">
    <!-- Responsive Wrapper for all content -->
    <div class="row">
      <div class="col-12">
        <div class="wrapper">
          <div class="image-container">
            <img src="<%= entity.slika %>" class="card-img-top img-fluid" alt="<%= entity.naziv %>">
          </div>
          <div class="info-container">
            <div class="entity-name">
              <%= entity.naziv %>
            </div>
            <span class="close-btn material-icons" aria-label="Delete result">delete</span>
            <div class="card-body">
              <div class="attributes">
                <p>
                  <%= entity.opis %>
                </p>
              </div>
              <div class="traits-container">
                <div class="trait positive">
                  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                  <dotlottie-player src="https://lottie.host/39e03a1d-546e-4768-97b9-4ae3f040e9da/InECLwmIxs.json" background="transparent" speed="1" style="width: 70px; height: 70px; margin-left: 25%" loop autoplay></dotlottie-player>
                  <div class="positive-traits">
                    <ul>
                      <% entity.pozLastnosti.split(',').forEach(function(trait) { %>
                        <li>
                          <%= trait.trim() %>
                        </li>
                        <% }); %>
                    </ul>
                  </div>
                </div>
                <div class="trait negative">
                  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/945b88be-f5d4-4401-ade9-3dbebd3a7761/4jJ46Vj5Ve.json" background="transparent" speed="1" style="width: 70px; height: 70px; margin-left: 25%;" loop autoplay></dotlottie-player>
                  <div class="negative-traits">
                    <ul>
                      <% entity.negLastnosti.split(',').forEach(function(trait) { %>
                        <li>
                          <%= trait.trim() %>
                        </li>
                        <% }); %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="row">
        <div class="col footer-col-1" onclick="navigateTo('/samoocenitev');">Samoocenitev</div>
        <div class="col footer-col-2" onclick="navigateTo('/ujemanje');">Ujemanje</div>
    </div>
  </footer>

  <!-- Alert -->
  <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Opozorilo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Ali ste prepričani da želite izbrisati rezultat samoocenitve?
          <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
          <dotlottie-player src="https://lottie.host/f16e66e9-700b-48e9-8ce5-b44a4fef96b0/LTisdNDO59.json" background="transparent" speed="1" style="width: 200px; height: 200px; padding: 0px; margin-left: 25%;" loop autoplay></dotlottie-player>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Ne</button>
          <button type="button" class="btn" id="confirmDelete">Da</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/pregledOcenitve.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>