<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Persona Animal</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/pregledOcenitve.css"></style>
</head>
<body>
  <div class="container text-center">
    <br>
    <h2>Rezultat samoocenitve</h2>
    <br>
    <div class="card mx-auto" style="max-width: 500px;">
      <span class="close-btn">&times;</span>
      <img src="<%= entity.slika %>" class="card-img-top" alt="<%= entity.naziv %>">
      <div class="card-body">
        <p class="card-text"><h4>Vaša žival</h4> <%= entity.naziv %></p>
        <div class="attributes">
          <h4>Opis</h4>
          <p><%= entity.opis %></p>
        </div>
        <p class="card-text">
          <h4>Pozitivne lastnosti</h4>
          <%= entity.pozLastnosti %>
        </p>
        <p class="card-text">
            <h4>Negativne lastnosti</h4>
            <%= entity.negLastnosti %>
          </p>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    document.querySelector('.close-btn').addEventListener('click', function() {
      this.closest('.card').style.display = 'none';
    });
  </script>
</body>
</html>
